.logo{
  width: 150px;
  height: 100px;
}

li{
  list-style-type: none;
}

.nav{
  text-decoration: none;
  color: #666;
}

footer{
  position: absolute;
    bottom: 0;
    left: 0;   
}

.text{
  color: #666;
}

ol, ul{
  padding-left: 0rem;
}

.img-size{
  height: 400px;
}

