@media(min-width: 1026px){
  .content{
    margin-right: 50px;
    margin-left: 250px;
  }
}
@media(max-width: 1024px){
  .content{
    margin-left: 150px;
  }
}

.logo{
  width: 150px;
  height: 100px;
}

li{
  list-style-type: none;
}

.nav{
  text-decoration: none;
  color: #666;
}

footer{
  position: absolute;
    bottom: 0;
    left: 0;   
}

.text{
  color: #666;
}

ol, ul{
  padding-left: 0rem;
}

.img-size{
  height: 400px;
}

.card{
  border: 2px solid;

}


.img-katalog{
  height: 300px;
  width: 150px;
}


